.active-link{
    background-color: gainsboro;
    color: orange;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*NAVBAR**************************************/
.header{
    width: 100%;
    background-color: rgb(221, 221, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
   
}
.header__logo{
    color: rgb(243, 100, 49);
    margin-left: 20px;
}
.header__nav{
    width: 50%;
}
.header__list{
    width: 100%;
    display: flex;
    height: 60px;
    justify-content:space-around;
    align-items:center;
    padding: 0;
    margin: 0;
    
}
.header__item{
    list-style: none;
    
}
.fa-solid{
    font-size: 28px;
    color: gray;
}
a{
    text-decoration: none;
}


/*+++++++++++++++++CARDS HOME  y SIMILAR ITEMS*****************************************/
.home{
    display: flex;
}
.home__container-card{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(241, 237, 229);
    justify-content: space-around;
}
.card-home, .card-similarItem{
    width: 300px;
    border: 1px solid rgb(173, 171, 171);
    border-radius: 7px;
    margin: 25px 0px;
    position: relative;
}
.card-home__header, .card-similarItem__header{
 padding: 20px;
 height: 220px;
 border-bottom: 1px solid rgb(173, 171, 171);;
}
.card-home__img, .card-similarItem__img{
    object-fit: contain;
    width: 100%;
    height: 100%;
   
}
.card-home__btn, .card-similarItem__btn{
    padding:  13px 11.5px;
    border-radius: 50%;
    border: none;
    background-color: rgb(241, 114, 68);
    position: absolute;
    top: 335px;
    left: 230px;
    cursor: pointer;
}
.card-home__btn .fa-cart-shopping, .card-similarItem__btn .fa-cart-shopping{
    color: aliceblue;
    font-size: 20px;

}
.card-home__price-label, .card-similarItem__price-label{
    color: gray;
    margin-left: 8px;
    margin-bottom: 5px;
}
.card-home__price-value, .card-home__name,
.card-similarItem__name, .card-similarItem__price-value{
    margin-left: 20px;
    color: rgb(44, 43, 43);
}
.card-home__price, .card-similarItem__price{
    margin-bottom: 25px;
}
.card-home__price-value, .card-similarItem__price-value{
    font-size: large;
    font-weight: 400;
}
/******************************MENU VERTICAL**************/
.aside-menu{
    width: 65%;
}
.filter-price__title{
    margin: 25px 0px 10px 10px;
    color: rgb(44, 43, 43);
}
.filter-price{
    height: 280px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.content-input{
    margin-bottom: 25px;
}
.input-label{
    padding: 0px 8px;
}
.to{
    padding-right: 26px;
}
.enter-price{
    padding: 10px 5px;
    width: 50%;
    border: .5px solid gray;
    outline: none;
}
.filter-price__btn{
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(243, 100, 49);
}
.menu-category{
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 10px;
}
.articles-category{
    padding: 4px 0px 5px 5px;
    cursor: pointer;
    color: gray;
}
.title-category{
    margin: 25px 0px 10px 10px;
    color: rgb(44, 43, 43);
}

/*******************Detail container****************************/
.detail-container{
    display: flex;
    background-color: bisque;
    margin: 25px 0px;

}
.product-info{
 width: 50%;
 margin-left: 15px;

}
.product-info__description{
    width: 85%;
}
.product-info__body{
    display: flex;
    width: 100%;
}
.product-info__price, .product-info__quantity{
    width: 40%;
}
.product-info__btn-add .fa-cart-shopping{
    font-size: 18px;
    color: white;
    margin-left: 8px;
   
}
.product-info__quantity button{
    border: .5px solid gray;
    padding: 5px 10px;
    font-size: medium;
    cursor: pointer;
}
.product-info__quantity-btns{
 
    padding: 6px 0px;
}
.product-info__quantity-btns span{
    padding:5.5px 10px;
    border: .5px solid gray;
}

.product-info__btn-add{
    background-color: rgb(241, 114, 68);
    font-size: 16px;
    padding: 10px ;
    color: white;
    width: 85%;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.carousel__content{
    width: 50%;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-chevron-left, .fa-chevron-right{
    color: black;
    cursor: pointer;
}

.image__carousel{
    width: 500px;
    height: 280px;
    
    text-align: center;
    
}
.carousel__detail-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/******Similar items**********/
.similar-items{
    background-color: azure;
    
}
.similar-items__content-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 50px 50px 50px;
    gap: 45px;
    justify-content: space-around;
}
.card-similarItem{
    margin: 0;
}
.similar-tems__title{
    color: rgb(241, 114, 68);
    padding-top: 10px;
    padding-left: 25px;
}